.catalog {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }

  &__pagination {
    display: flex;
    justify-content: center;

    & * {
      font-family: unset !important;
      color: white !important;
    }
  }
}
