.name-filter {
  width: 250px;
  height: 50px !important;
  font-family: unset !important;

  & > * {
    font-family: unset !important;
    font-size: 10px !important;
    color: white !important;
    max-height: 100% !important;
  }
}
