.header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);

  &__logo {
    position: relative;
    margin: 0 auto;
    height: 200px;
    aspect-ratio: 1;
    background: url('../../assets/header-logo.png') center/100% no-repeat;
  }
}
