.main-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &_catalog {
    position: relative;
    flex-direction: row;

    @media (width < 1024px) {
      flex-direction: column;
    }
  }
}
