.main-page {
  display: flex;
  flex-direction: column;
  gap: 50px;

  & > .section {
    padding: 30px;

    &:not(:last-child) {
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }

    &_catalog {
      display: flex;
      min-height: 500px;
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 30px rgb(37, 37, 37);
      border-radius: 20px;
    }
  }
}
