.filters {
  color: #ffffff !important;
  background-color: unset !important;
  box-shadow: unset !important;

  &__dropdown-icon {
    color: #ffffff !important;
  }

  &__dropdown {
    font-family: unset !important;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    width: 250px;
    max-width: 100%;

    & > div:first-child {
      width: 100%;
    }

    & *:not(svg) {
      margin: 0 !important;
      font-size: unset !important;
      font-size: 12px !important;
      color: white !important;
    }
  }
}
