.breadcrumbs {
  display: flex;
  gap: 10px;
  color: #999999;

  &__link {
    color: #999999;
    font-family: unset;
    text-decoration: unset;
    transition: color 0.2s ease;

    &:hover {
      color: #e2e2e2;
    }

    & * {
      font-family: unset !important;
    }
  }

  &__current {
    color: #fff;
  }
}
