.films-filter {
  margin: 0 !important;
  height: 50px !important;
  & *:not(svg) {
    color: white;
    font-family: unset !important;
    font-size: 10px !important;
  }

  &__select {
    &-item {
      font-family: unset !important;
      font-size: 10px !important;
    }
  }
}
